<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">USER MANAGEMENT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users">users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about',{
          outlets:{
            'map': ['location'],
            'feeds': ['feedback']
          }
        }]">about</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">contact us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/binding">Binding examples</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div>
  <h1>Parent Component  - root component</h1>
  <p>{{childData}}</p>
</div>
<app-child [uname]="username" (notify)="parentMethod($event)"></app-child>


